
<h2> Confirmed </h2>
<div class="spot-display">
  <span class="output">Vehicle number: <%= @customer.vnum %></span><br>
  <span class="output">Vehicle Type: <%= @customer.vtype %></span><br>
  <span class="output">Spot: <%= @customer.spots %></span><br>
  <span class="output">Entry Time: <%= @customer.entry %></span><br>
  <span class="output">Email: <%= @customer.email %></span><br>
  <% if @customer.exit.present? && @customer.price.present? %>
    <span class="output"> Exit Time:<%= @customer.exit %></span><br>
    <span class="output">Price: ₹<%= @customer.price %></span><br>
  <% end %>

</div>
