<!DOCTYPE html>
<html>
 <%= javascript_importmap_tags %>
  <head>
   <header>
        <% if !['login','forgot', 'reset', 'passedit'].include?(action_name) %>
            <%= render 'layouts/navbar' %>
        <% end %>



    </header>
    <title>Parks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/application.css">

  </head>

  <body>
   <p style="color:green;"> <%= flash[:notice]%><p>
    <%= yield %>
  </body>
</html>
