<!DOCTYPE html>
<html>
  <head>
   <header>
        <%= render 'layouts/navbar' %>

    </header>
    <title>Parks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/application.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
